//SASS Components
@use 'sass-components/colors' as *;

//

//FONTS
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Space+Mono&display=swap");

//BACKGROUND

body {
    width: 180vh;
    height: auto;
    display:flex;
    color: aliceblue;
    background-image: url("../images/SCAG_2560x1600_Wallpaper.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0 auto;
    font-family: "Metamorphous", cursive;
    //font-family: "Space Mono", monospace;
}
.grid>div{
    @include background-col;
}
#nav ul{

    display: flex;
}
#nav li{
    list-style: none;
    display: block;
}

//======HERO SECTION========

#hero-section{
    height: 10vh;
}
.stat-block{
    display: flex;
    
    text-align: center;
    width:15vh;
}

//Tooltip
.tooltip {
    visibility: hidden;
    text-align: center;
    max-width: 500px;
    position: absolute;
    line-height: 20px;
    z-index: 1;
    padding: 10px;
    background-color: rgb(43, 40, 40);
}

.info:hover .tooltip {
    visibility: visible;
}